:root {
  --general-text: #212121;
  --second-text: #ffffff;
  --blue-text: #2196f3;
  --grey-text: #757575;
  --nav-grey-text: rgba(255, 255, 255, 0.6);
  --background-dark: #2f303a;
  --background-white: #f5f4fa;
  --background-button: #188ce8;
  --background-body: #ffffff;
  --icon-site-fill: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--general-text);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--background-body);
}

.html {
  box-sizing: border-box;
}
.page-header {
  list-style: none;
}
.section-main h1 {
  display: none;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.navmain {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  margin-top: 24px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--general-text);
  text-decoration: none;
}
.web {
  display: flex;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--blue-text);
  text-decoration: none;
}
.buttonsfive {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

.envelope {
  width: 16px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 34px;
  margin-right: 10px;
}
.smartphone {
  width: 16px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 34px;
  margin-right: 10px;
  margin-left: 30px;
}
.envelope:hover,
.smartphone:hover {
  fill: var(--blue-text);
  cursor: pointer;
}
.item.icon::before {
  display: block;
  margin-top: 94px;
  content: "";
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.sputnik::before {
  background-image: url(../images/sputnik.svg);
}
.icon.watch::before {
  background-image: url(../images/watch.svg);
}
.icon.laptop::before {
  background-image: url(../images/laptop.svg);
}
.icon.icon.gagarin::before {
  background-image: url(../images/gagarin.svg);
}
.marka .item + .item {
  margin-left: 30px;
}
.marka h2 {
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}
.marka p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: calc(24 / 14);
}
.markas {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.marka {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.marka-foot {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 215px;
  line-height: calc(24 / 14);
}

.marka-two + .marka-two {
  margin-left: 30px;
}
.marka-two {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.marka-two .item-two + .item-two {
  margin-left: 30px;
}

.marka li {
  list-style-type: none;
}

.marka-three {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
}
.item-three {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--second-text);
}
.marka-three .item-three + .item-three {
  margin-left: 30px;
}
.marka-three h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.marka-three p {
  margin-top: 0;
  margin-bottom: 16px;
}
.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social .social-link + .social-link {
  margin-left: 10px;
}
.social-link {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.social-link:hover,
.icon-instagram:hover,
.icon-twitter:hover,
.icon-facebook:hover,
.icon-linkedin:hover {
  background-color: var(--blue-text);
  fill: var(--second-text);
  cursor: pointer;
}
.icon-instagram {
  width: 20px;
  height: 20px;
  fill: var(--icon-site-fill);
}
.icon-twitter {
  width: 20px;
  height: 20px;
  fill: var(--icon-site-fill);
}
.icon-facebook {
  width: 20px;
  height: 20px;
  fill: var(--icon-site-fill);
}
.icon-linkedin {
  width: 20px;
  height: 20px;
  fill: var(--icon-site-fill);
}
.nav-sites {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: calc(16 / 14);
  color: var(--blue-text);
  text-decoration: none;
}
.nav-site {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: calc(16 / 14);
  color: var(--general-text);
  text-decoration: none;
}

.markas .item + .item {
  margin-left: 50px;
}
.nav-site:hover,
.nav-site:focus {
  color: var(--blue-text);
}
.nav-adm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
  color: var(--grey-text);
  font-weight: 500;
  line-height: calc(16 / 14);
  text-decoration: none;
}
.nav-adm:hover,
.nav-adm:focus {
  color: var(--blue-text);
}
.nav-adm-two {
  color: var(--nav-grey-text);
  font-weight: 500;
  line-height: calc(16 / 14);
  text-decoration: none;
  font-style: normal;
}
.nav-adm-two:hover,
.nav-adm-two:focus {
  color: var(--blue-text);
}
.section {
  background: var(--background-dark);
  width: 1600px;
  height: 600px;
  margin: auto;
  padding: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/image.jpg);
}
.section-talk {
  padding: 0px;
  margin: 0px;
  padding-top: 200px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text);
}
.section-button:hover,
.section-button:focus {
  background: var(--background-button);
}
.section-button {
  width: 200px;
  height: 50px;
  background: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.butt {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--second-text);
  letter-spacing: 0.06em;
}
.special h3 {
  font-weight: bold;
  line-height: calc(16 / 14);
  color: var(--general-text);
  text-transform: uppercase;
}
.special p {
  font-weight: normal;
  line-height: calc(24 / 14);
  color: var(--grey-text);
}
.workday h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 94px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--general-text);
}
.teamwork {
  list-style: none;
  background: var(--background-white);
}
.teamwork h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 94px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--general-text);
}
.teamwork h3 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--general-text);
}
.teamwork p {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--grey-text);
}

.footer {
  background: var(--background-dark);
  margin: auto;
  padding: auto;
  width: 1600px;
  height: 252px;
}
.address {
  padding: 0;
  margin: 0;
  display: block;
}
.address p {
  display: inline-flex;
  line-height: calc(24 / 14);
  font-style: normal;
  color: var(--second-text);
  margin: 0 0 0 215px;
  padding: 0;
}
.logo-two {
  margin-left: 215px;
  padding-top: 60px;
  display: inline-flex;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--second-text);
  text-decoration: none;
}
.socialnocap {
  display: inline-flex;
  margin-left: 70px;
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.socialnocap .cap-link + .cap-link {
  margin-left: 10px;
}
.cap-link {
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.cap-link:hover,
.icon-instagram:hover,
.icon-twitter:hover,
.icon-facebook:hover,
.icon-linkedin:hover {
  background-color: var(--blue-text);
  fill: var(--second-text);
  cursor: pointer;
}
.welcome {
  display: inline-flex;
  padding-left: 156px;
  font-weight: bold;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--second-text);
  margin: 0;
}
.web-two {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--blue-text);
  text-decoration: none;
}
.button-all {
  width: 73px;
  height: 38px;
}
.button-site {
  width: 128px;
  height: 38px;
}
.button-app {
  width: 145px;
  height: 38px;
}
.button-design {
  width: 103px;
  height: 38px;
}
.button-market {
  width: 130px;
  height: 38px;
}

.buttonsfive .button-marg + .button-marg {
  margin-left: 8px;
}
.buttonsfive .button-marg {
  margin-bottom: 50px;
}
.button-all,
.button-site,
.button-app,
.button-design,
.button-market {
  background: var(--background-white);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  padding: 0;
  margin: 0;
}
.button-all:hover,
.button-site:hover,
.button-app:hover,
.button-design:hover,
.button-market:hover,
.button-all:focus,
.button-site:focus,
.button-app:focus,
.button-design:focus,
.button-market:focus {
  background: var(--blue-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  color: var(--second-text);
}
.button-all {
  background: var(--blue-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  color: var(--second-text);
}
.site-photo .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.site-photo .item {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
}
.site-photo .item:nth-child(1n) {
  margin-left: 30px;
  margin-bottom: 30px;
}

.site-photo a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.site-photo {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 64px;
}
.site-photo h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: var(--general-text);
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 4px;
}
.site-photo p {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--grey-text);
  margin-bottom: 20px;
  margin-left: 24px;
  margin-top: 0px;
}

.customer h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 94px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--general-text);
}
.company {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 94px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.one {
  width: 41px;
  height: 46.7px;
}
.two {
  width: 40px;
  height: 52px;
}
.three {
  width: 43.46px;
  height: 41.18px;
}
.four {
  width: 84.44px;
  height: 40.62px;
}
.five {
  width: 62.54px;
  height: 45.43px;
}
.six {
  width: 93.79px;
  height: 43.93px;
}
.marka .company + .company {
  margin-left: 30px;
}
.marka .groupone:hover,
.marka .grouptwo:hover,
.marka .groupthree:hover,
.marka .groupfour:hover,
.marka .groupfive:hover,
.marka .groupsix:hover,
.color:hover {
  border: 1px solid #2196f3;
  fill: var(--blue-text);
}
